@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100..900&display=swap");
:root {
  --text-color: #191919;
  --wh: #fff;
  --bk: #191919;
  --gray: #f4f4f4;
  --green: #45b035;
  --border-color: #f2f2f2;
}

@media screen and (max-width: 834px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 835px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .pc-tb {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .sp-tb {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

@media screen and (max-width: 499px) {
  .pc-xsl {
    display: none !important;
  }
}

@media screen and (min-width:500px) {
  .sp-xsl {
    display: none !important;
  }
}

@media screen and (max-width: 376px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 377px) {
  .sp-xs {
    display: none !important;
  }
}

/* A Modern CSS Reset */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

a,
button {
  cursor: revert;
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  padding-left: 0;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

:where(pre) {
  all: revert;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

/* ====================================================
HTML
==================================================== */
html {
  font-size: 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.9444444444;
  line-height: 2;
  background: #fff;
  overflow-x: clip;
}
@media screen and (max-width: 834px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 499px) {
  body {
    font-size: 13px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #191919;
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}
a:hover {
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}

input[type=radio],
input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* ====================================================
SWIPER
==================================================== */
.swiper-wrapper {
  transition-timing-function: linear !important;
}

/* ====================================================
LOADING
==================================================== */
/* ====================================================
Animation
==================================================== */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ====================================================
common
==================================================== */
[class$=__inner],
.inner {
  width: 90%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
}

.chevron_forward::after {
  content: "chevron_forward";
  font-family: "Material Symbols Outlined";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
  border: 1px solid #8cd0d0;
  border-radius: 100vmax;
  font-size: 2rem;
  color: #8cd0d0;
  margin-left: 2rem;
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}
@media screen and (max-width: 640px) {
  .chevron_forward::after {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.6rem;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 499px) {
  .chevron_forward::after {
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1.4rem;
    margin-left: 5px;
  }
}

.chevron_forward-link:hover::after {
  transform: translateX(10px);
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}

.ja {
  font-family: "IBM Plex Sans JP", sans-serif;
}

.en {
  font-family: "Hanken Grotesk", sans-serif;
}

.swiper-pagination-bullet {
  background: var(--wh);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--green);
}

.swiper-pagination-progressbar {
  background: var(--wh);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--green);
}

input[type=search] {
  width: 100%;
}
input[type=search]:focus {
  outline: none;
  box-shadow: none;
}

.link-hover {
  position: relative;
  white-space: nowrap;
}
.link-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--green);
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}
.link-hover:hover::after {
  width: 100%;
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}

/* ====================================================
SimpleBar Custom Scrollbar
==================================================== */
.simplebar-scrollbar:before {
  background: var(--green) !important;
  /* スクロールバーの色 */
}

.simplebar-track.simplebar-horizontal {
  height: 6px !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 5px !important;
  opacity: 1 !important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  width: 6px !important;
}

.simplebar-track {
  background: var(--wh);
  /* トラックの色（任意） */
  border-radius: 0;
}/*# sourceMappingURL=common.css.map */