@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100..900&display=swap");
:root {
  --text-color: #191919;
  --wh: #fff;
  --bk: #191919;
  --gray: #f4f4f4;
  --green: #45b035;
  --border-color: #f2f2f2;
}

@media screen and (max-width: 834px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 835px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .pc-tb {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .sp-tb {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

@media screen and (max-width: 499px) {
  .pc-xsl {
    display: none !important;
  }
}

@media screen and (min-width:500px) {
  .sp-xsl {
    display: none !important;
  }
}

@media screen and (max-width: 376px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 377px) {
  .sp-xs {
    display: none !important;
  }
}

/* ====================================================
KEYFRAMES
==================================================== */
@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* ====================================================
FV
==================================================== */
/* ====================================================
CONTENTS
==================================================== */
.top-lead {
  margin-top: 4rem;
}
@media screen and (max-width: 834px) {
  .top-lead {
    margin-top: 0;
  }
}
@media screen and (max-width: 834px) {
  .top-lead__inner {
    width: 100%;
  }
}
.top-lead__wrapper {
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 1500px) {
  .top-lead__wrapper {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 1300px) {
  .top-lead__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .top-lead__wrapper {
    gap: 1rem;
  }
}
.top-lead__slider {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
@media screen and (max-width: 834px) {
  .top-lead__slider {
    border-radius: 0;
  }
}
.top-lead__slider-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 95rem;
  min-width: 70rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1300px) {
  .top-lead__slider-wrapper {
    max-width: none;
    min-width: auto;
  }
}
.top-lead__slider-title {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 5;
  color: var(--wh);
  padding: 1rem;
}
.top-lead__slider-heading {
  font-size: 4.2rem;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .top-lead__slider-heading {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 834px) {
  .top-lead__slider-heading {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 640px) {
  .top-lead__slider-heading {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 499px) {
  .top-lead__slider-heading {
    font-size: 1.8rem;
  }
}
.top-lead__slider-description {
  font-size: 1.4rem;
  margin-top: 1rem;
}
@media screen and (max-width: 499px) {
  .top-lead__slider-description {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
.top-lead__slider .swiper-slide--03 img {
  -o-object-position: 0;
     object-position: 0;
}
.top-lead__slider-img {
  overflow: hidden;
}
@media screen and (max-width: 834px) {
  .top-lead__slider-img {
    border-radius: 0;
  }
}
.top-lead__slider-img img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 950/520;
}
@media screen and (max-width: 834px) {
  .top-lead__slider-img img {
    aspect-ratio: 750/560;
  }
}
.top-lead__slider .top-lead__slider-pagination {
  position: absolute;
  bottom: 1rem;
  right: 0;
  z-index: 5;
  padding-right: 1rem;
  text-align: right;
}
@media screen and (max-width: 834px) {
  .top-lead__slider .top-lead__slider-pagination {
    bottom: auto;
    top: 1rem;
    padding-right: 1.5rem;
  }
}

.top-pickup__title {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--wh);
}
.top-pickup__title-wrapper {
  width: 100%;
  position: absolute;
  z-index: 5;
  padding: 2.5rem;
  top: 0;
  left: 0;
}
.top-pickup__slider {
  width: 100%;
  color: var(--wh);
}
.top-pickup__slider-wrapper {
  width: 100%;
  max-width: 62rem;
  border-radius: 2rem;
  background: url(../img/top/pickup-slider-01.webp) no-repeat center/cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: clamp(3rem, 2vw, 5rem);
}
@media screen and (max-width: 1300px) {
  .top-pickup__slider-wrapper {
    max-width: none;
    min-height: 55vw;
  }
}
@media screen and (max-width: 834px) {
  .top-pickup__slider-wrapper {
    display: none;
  }
}
.top-pickup__slider-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(8px);
  z-index: 0;
}
.top-pickup__slider-category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 834px) {
  .top-pickup__slider-category {
    gap: 0.5rem;
  }
}
.top-pickup__slider-category li {
  font-size: 1.2rem;
  border-radius: 100vmax;
  border: 1px solid var(--wh);
  padding: 0.2rem 1rem;
}
.top-pickup__slider-date {
  font-size: 1.2rem;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.top-pickup__slider-date::before {
  content: "schedule";
  font-family: "Material Symbols Outlined";
  font-size: 1.4rem;
  margin-right: 1rem;
}
.top-pickup__slider .swiper-slide .top-pickup__slider-title {
  margin: 1.5rem 0 1rem;
}
.top-pickup__slider .swiper-slide .top-pickup__slider-title,
.top-pickup__slider .swiper-slide .top-pickup__slider-category,
.top-pickup__slider .swiper-slide .top-pickup__slider-date {
  font-weight: 500;
  opacity: 0;
  transition: all 0.5s ease-out 0.3s;
}
.top-pickup__slider .swiper-slide-active .top-pickup__slider-title,
.top-pickup__slider .swiper-slide-active .top-pickup__slider-category,
.top-pickup__slider .swiper-slide-active .top-pickup__slider-date {
  opacity: 1;
  transition: all 0.5s ease-out 0.3s;
}
.top-pickup__slider-img {
  border-radius: 2rem;
  overflow: hidden;
}
.top-pickup__slider-img img {
  width: auto;
  aspect-ratio: 360/270;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-pickup__slider-pagination {
  position: absolute;
  bottom: 1rem !important;
  left: 0 !important;
  text-align: right;
  padding-right: 1rem;
  z-index: 1;
}

.top-news {
  position: relative;
  padding: 10rem 0 0;
  margin-bottom: 6rem;
}
@media screen and (max-width: 1200px) {
  .top-news {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 834px) {
  .top-news {
    padding: 8rem 0 0;
  }
}
@media screen and (max-width: 640px) {
  .top-news {
    padding: 6rem 0 0;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 499px) {
  .top-news {
    padding: 4rem 0 0;
  }
}
.top-news__inner {
  position: relative;
}
.top-news__title {
  font-size: 2.8rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  .top-news__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 499px) {
  .top-news__title {
    font-size: 2.1rem;
  }
}
.top-news__slider {
  width: 90%;
  overflow-x: hidden;
  margin: 4rem 0 0 calc((100% - 150rem) / 2);
}
@media screen and (max-width: 1680px) {
  .top-news__slider {
    margin: 4rem 0 0 5%;
  }
}
@media screen and (max-width: 640px) {
  .top-news__slider {
    margin: 3rem 0 0 5%;
  }
}
.top-news__slider-img {
  border-radius: 2rem;
  overflow: hidden;
}
.top-news__slider-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
}
@media screen and (max-width: 640px) {
  .top-news__slider-title {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 499px) {
  .top-news__slider-title {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
.top-news__slider-category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
@media screen and (max-width: 834px) {
  .top-news__slider-category {
    gap: 0.5rem;
  }
}
.top-news__slider-category li {
  font-size: 1.2rem;
  color: var(--green);
  border-radius: 100vmax;
  border: 1px solid var(--green);
  padding: 0.6rem 1rem 0.5rem;
  line-height: 1;
}
.top-news__slider-date {
  font-size: 1.2rem;
  color: #b0b0b0;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
@media screen and (max-width: 834px) {
  .top-news__slider-date {
    margin-top: 1rem;
  }
}
.top-news__slider-date::before {
  content: "schedule";
  font-family: "Material Symbols Outlined";
  color: var(--green);
  font-size: 1.4rem;
  margin-right: 1rem;
}
.top-news .top-news__slider-pagination {
  top: auto;
  bottom: -6rem;
  width: 100%;
}
@media screen and (max-width: 834px) {
  .top-news .top-news__slider-pagination {
    bottom: -4rem;
  }
}
@media screen and (max-width: 499px) {
  .top-news .top-news__slider-pagination {
    bottom: -3rem;
  }
}
.top-news .top-news__slider-pagination.swiper-pagination-progressbar {
  background: #f2f2f2;
}

.top-mediacal-program__item-img {
  border-radius: 2rem;
  overflow: hidden;
}

.top-medical-program {
  padding: 7.5rem 0 9rem;
}
.top-medical-program__controller {
  margin: 4rem 0;
}
@media screen and (max-width: 640px) {
  .top-medical-program__controller {
    margin: 2rem 0 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f2f2f2;
  }
}
.top-medical-program__controller-list {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 640px) {
  .top-medical-program__controller-list {
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
.top-medical-program__controller-item {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem 1rem 0.4rem;
  white-space: nowrap;
}
.top-medical-program__controller-item.active {
  color: var(--green);
  border-bottom: 3px solid #1cc18e;
}
.top-medical-program__controller-item:hover:not(.active) {
  color: var(--green);
  background-color: #eff7ed;
  border-radius: 100vmax;
  padding: 0.6rem 1rem 0.4rem;
  transition: all 0.3s ease-out;
}
.top-medical-program__title {
  font-size: 2.8rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  .top-medical-program__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 499px) {
  .top-medical-program__title {
    font-size: 2.1rem;
  }
}
.top-medical-program__list {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 1024px) {
  .top-medical-program__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
.top-medical-program__item-img {
  border-radius: 2rem;
  overflow: hidden;
}
.top-medical-program__item-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
  min-height: 8rem;
}
@media screen and (max-width: 640px) {
  .top-medical-program__item-title {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 499px) {
  .top-medical-program__item-title {
    font-size: 1.4rem;
    margin-top: 1rem;
    min-height: 8rem;
  }
}
.top-medical-program__item-category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 834px) {
  .top-medical-program__item-category {
    gap: 0.5rem;
  }
}
.top-medical-program__item-category li {
  font-size: 1.2rem;
  color: var(--green);
  border-radius: 100vmax;
  border: 1px solid var(--green);
  padding: 0.6rem 1rem 0.5rem;
  line-height: 1;
}
@media screen and (max-width: 499px) {
  .top-medical-program__item-category li {
    padding: 0.75rem 0.45rem;
  }
}
.top-medical-program__item-date {
  font-size: 1.2rem;
  color: #b0b0b0;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
@media screen and (max-width: 834px) {
  .top-medical-program__item-date {
    margin-top: 1rem;
  }
}
.top-medical-program__item-date::before {
  content: "schedule";
  font-family: "Material Symbols Outlined";
  color: var(--green);
  font-size: 1.4rem;
  margin-right: 1rem;
}

.top-journal {
  position: relative;
  background-color: #fcf5f0;
  padding: 10rem 0;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .top-journal {
    padding: 8rem 0 6rem;
  }
}
@media screen and (max-width: 834px) {
  .top-journal {
    padding: 6rem 0 4rem;
  }
}
@media screen and (max-width: 640px) {
  .top-journal {
    padding: 5rem 0 3rem;
  }
}
@media screen and (max-width: 499px) {
  .top-journal {
    padding: 4rem 0 2rem;
  }
}
.top-journal__inner {
  position: relative;
}
.top-journal__title {
  font-size: 2.8rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  .top-journal__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 499px) {
  .top-journal__title {
    font-size: 2.1rem;
    gap: 2px;
    align-items: flex-end;
  }
  .top-journal__title.chevron_forward::after {
    transform: translateY(-5px);
  }
}
.top-journal__slider {
  margin-top: 2rem;
  width: 100%;
}
@media screen and (max-width: 1300px) {
  .top-journal__slider {
    margin-top: 7rem;
  }
}
.top-journal__slider-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
  padding: 0 1.5rem;
}
@media screen and (max-width: 640px) {
  .top-journal__slider-title {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 499px) {
  .top-journal__slider-title {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
.top-journal__slider-category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 1.5rem;
}
@media screen and (max-width: 834px) {
  .top-journal__slider-category {
    gap: 0.5rem;
    margin-top: 1.5rem;
  }
}
.top-journal__slider-category li {
  font-size: 1.2rem;
  color: var(--green);
  border-radius: 100vmax;
  border: 1px solid var(--green);
  padding: 0.6rem 1rem 0.5rem;
  line-height: 1;
}
.top-journal__slider-date {
  font-size: 1.2rem;
  color: #b0b0b0;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1.5rem 1.5rem;
}
@media screen and (max-width: 834px) {
  .top-journal__slider-date {
    margin-top: 1rem;
  }
}
.top-journal__slider-date::before {
  content: "schedule";
  font-family: "Material Symbols Outlined";
  color: var(--green);
  font-size: 1.4rem;
  margin-right: 1rem;
}
.top-journal__slider .swiper-slide {
  z-index: 1;
  background-color: var(--wh);
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}
.top-journal__slider .swiper-slide-active {
  transform-origin: center;
  transform: scale(1.2);
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
  z-index: 2;
  margin-left: 1.5rem !important;
  margin-right: 2.5rem !important;
}
@media screen and (min-width: 377px) {
  .top-journal__slider .swiper-slide-active {
    margin-left: 2.5rem !important;
    margin-right: 3.5rem !important;
  }
}
@media screen and (min-width: 641px) {
  .top-journal__slider .swiper-slide-active {
    margin-left: 4rem !important;
    margin-right: 5rem !important;
  }
}
@media screen and (min-width: 835px) {
  .top-journal__slider .swiper-slide-active {
    margin-left: 4rem !important;
    margin-right: 6.5rem !important;
  }
}
@media screen and (min-width: 1201px) {
  .top-journal__slider .swiper-slide-active {
    margin-left: 5rem !important;
    margin-right: 7.5rem !important;
  }
}
@media screen and (min-width: 1501px) {
  .top-journal__slider .swiper-slide-active {
    margin-left: 6.5rem !important;
    margin-right: 9.5rem !important;
  }
}
.top-journal .top-journal__slider-pagination {
  position: static;
}
.top-journal__doctor {
  background-color: #fcf5f0;
  padding: 0 0 10rem;
}
@media screen and (max-width: 834px) {
  .top-journal__doctor {
    padding: 0 0 6rem;
  }
}
@media screen and (max-width: 499px) {
  .top-journal__doctor {
    padding: 0 0 4rem;
  }
}
.top-journal__doctor-list {
  display: flex;
  gap: 6rem;
  margin-top: 4rem;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 3rem;
}
@media screen and (max-width: 1500px) {
  .top-journal__doctor-list {
    gap: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .top-journal__doctor-list {
    gap: 3rem;
  }
}
@media screen and (max-width: 640px) {
  .top-journal__doctor-list {
    gap: 2rem;
  }
}
.top-journal__doctor-list-img {
  border-radius: 100vmax;
  max-width: 20rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
@media screen and (max-width: 834px) {
  .top-journal__doctor-list-img {
    max-width: 18rem;
  }
}
@media screen and (max-width: 640px) {
  .top-journal__doctor-list-img {
    max-width: 15rem;
  }
}
.top-journal__doctor-list-title {
  font-size: 2.1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}
@media screen and (max-width: 1200px) {
  .top-journal__doctor-list-title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 834px) {
  .top-journal__doctor-list-title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 640px) {
  .top-journal__doctor-list-title {
    font-size: 1.6rem;
  }
}
.top-journal__doctor-list-hospital {
  font-size: 1.2rem;
  display: block;
}
.top-journal__doctor-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-journal__inner:has(.top-journal__slider-pagination) {
  margin: 10rem auto 6rem;
}
@media screen and (max-width: 834px) {
  .top-journal__inner:has(.top-journal__slider-pagination) {
    margin: 8rem auto 4rem;
  }
}
@media screen and (max-width: 499px) {
  .top-journal__inner:has(.top-journal__slider-pagination) {
    margin: 8rem auto 4rem;
  }
}

.top-banner {
  padding: 12rem 0 4rem;
}
@media screen and (max-width: 1200px) {
  .top-banner {
    padding: 8rem 0 4rem;
  }
}
@media screen and (max-width: 834px) {
  .top-banner {
    padding: 6rem 0 3rem;
  }
}
@media screen and (max-width: 640px) {
  .top-banner {
    padding: 4rem 0 2rem;
  }
}
@media screen and (max-width: 499px) {
  .top-banner {
    padding: 3rem 0 2rem;
  }
}
.top-banner__wrapper {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .top-banner__wrapper {
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .top-banner__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .top-banner__wrapper {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 499px) {
  .top-banner__wrapper {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
.top-banner__item {
  border-radius: 2rem;
  color: var(--wh);
  font-weight: 700;
  flex: 1;
  aspect-ratio: 480/320;
  position: relative;
}
.top-banner__item--faq, .top-banner__item--foreign-patients, .top-banner__item--flow {
  position: relative;
  overflow: hidden;
}
.top-banner__item--faq::before, .top-banner__item--foreign-patients::before, .top-banner__item--flow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: inherit;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.top-banner__item--faq.chevron_forward::after, .top-banner__item--foreign-patients.chevron_forward::after, .top-banner__item--flow.chevron_forward::after {
  color: var(--wh);
  border-color: var(--wh);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
}
.top-banner__item--faq::before {
  background: url(../img/top/banner-01.webp) no-repeat center/cover;
}
.top-banner__item--foreign-patients::before {
  background: url(../img/top/banner-02.webp) no-repeat center/cover;
}
.top-banner__item--flow::before {
  background: url(../img/top/banner-03.webp) no-repeat center/cover;
}
a:hover ~ .top-banner__item::before, a:focus-visible ~ .top-banner__item::before {
  transform: scale(1.1);
}
a:hover + .top-banner__item::before, a:focus-visible + .top-banner__item::before {
  transform: scale(1.1);
}
.top-banner__item:hover::before, .top-banner__item:focus-within::before {
  transform: scale(1.1);
}
.top-banner__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 3rem;
  z-index: 1;
}
@media screen and (max-width: 834px) {
  .top-banner__item a {
    padding: 2rem;
  }
}
.top-banner__item::after {
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}
.top-banner__item:hover::after {
  transform: translateX(10px);
  transition: all 0.3s cubic-bezier(0.43, 0.05, 0.17, 1);
}
@media screen and (max-width: 834px) {
  .top-banner__lead {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 640px) {
  .top-banner__lead {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 499px) {
  .top-banner__lead {
    font-size: 1.2rem;
  }
}
.top-banner__title {
  font-size: 2.8rem;
}
@media screen and (max-width: 834px) {
  .top-banner__title {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 640px) {
  .top-banner__title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 499px) {
  .top-banner__title {
    font-size: 1.8rem;
  }
}
.top-banner__link {
  margin: 0 0 12rem;
}
@media screen and (max-width: 1200px) {
  .top-banner__link {
    margin: 0 0 10rem;
  }
}
@media screen and (max-width: 834px) {
  .top-banner__link {
    margin: 0 0 8rem;
  }
}
@media screen and (max-width: 640px) {
  .top-banner__link {
    margin: 0 0 6rem;
  }
}
.top-banner__link--for-medical {
  display: block;
  background-color: #e9f7f7;
  border-radius: 2rem;
}
.top-banner__link-title {
  height: 12rem;
  font-size: 2.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 834px) {
  .top-banner__link-title {
    height: 10rem;
  }
}
@media screen and (max-width: 640px) {
  .top-banner__link-title {
    height: 8rem;
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 499px) {
  .top-banner__link-title {
    height: 6rem;
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=top.css.map */